<!doctype html>
<html lang="ko">
<head>
  <%- include('./partials/head.ejs') %>
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  
  <div class="inner">
    <div class="board_container container mb-3 mt-5">
      <div class="board_header mb-3">
        <h1>Board</h1>
        <span>현재 등록 글 : &nbsp; <%= articleCounts %></span>
      </div>
      <div class="board_write mb-3" style="float: right;">
        <a class="btn btn-primary" href="/board/write">New</a>
        <a class="btn btn-secondary" href="login/logout">Logout</a>
      </div>

      <table class="board-table table table-sm border-bottom table-hover ">
        <thead class="table-light">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
  
        <tbody>
          <% if (articleCounts> 0) { %>
            <% for(let i=0; i < articleCounts; i++) { %>
              <tr >
                <td class="title">
                  <a href="board/show/<%= ARTICLE[i].title %>"><%= ARTICLE[i].title %></div></a>
                </td>
                <td class="user">
                  <% if (ARTICLE[i].id === userId) {%>
                    <%= ARTICLE[i].userName ? ARTICLE[i].userName : ARTICLE[i].id %>
                  <% } %>
                </td>
              </tr>
            <% } %>
          <% } else { %>
            <div class="title colspan=2"> There is no data to show :(</div>
          <% } %>
        </tbody>

      </table>
    </div>
  </div>

</body>
</html>